#contact, #pricing, #services, #home {
    align-items: center;
    min-height: 300px;
}

#home {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45)), url('../assets/background-keys.jpg');
    background-size: cover;
    color: white;
    min-height: 600px;
}

#services {
    background-color: #343a40;
    color: white;
}

#pricing {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/craftsman.jpg');
    background-size: cover;
    color: white;  
    min-height: 600px;
    font-size: 24px;
    text-align: center;
}

#pricing h3{
    font-size: 32px;
    /* padding-left: 30px; */
}

#pricing ul, #contact ul {
    list-style-type: none;
    padding: 0;
}

.container-fluid {
    text-align: center;
}

.col-md-4 {
    padding: 70px;
}

.col-md-6 {
    padding-left: 30px;
}

h1 {
    font-size: 7em;
}

.fa-facebook-square {
    color: #343a40;
}

.fa-key {
    padding-right: 10px;
}

.icon-white {
    color: white;
}

hr {
    width: 30%;
    height: 0.1;
    background-color: white;
}

.bigger {
    font-size: 28px;
}

#phone-number {
    font-weight: bold;
    font-size: 30px;
}